# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.venv/
venv/
ENV/

# Angular
/frontend/node_modules
/frontend/.angular
/frontend/dist
/frontend/tmp
/frontend/.idea
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace
/frontend/.vscode/*
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings

# Database
/database/data/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 